# Основные настройки SSH
Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Аутентификация
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no

# Настройки безопасности
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

# Ограничения
AllowUsers {{ ansible_user }}
ClientAliveInterval 300
ClientAliveCountMax 2
MaxAuthTries 3
MaxSessions 10

# Бастион специфичные настройки
{% if inventory_hostname in groups['bastion'] %}
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
{% else %}
AllowTcpForwarding no
{% endif %}